/* Media Query para tamaños de pantalla más pequeños */
@media (max-width: 768px) {

    /* Cambios en el diseño para pantallas pequeñas */
    table {
        width: 100%;
        overflow-x: auto;
        /* Agregar desplazamiento horizontal si la tabla es más ancha que la pantalla */
    }

    tbody td,
    thead th {
        white-space: nowrap;
        /* Evitar el salto de línea en celdas de datos y encabezado */
    }
}

.container {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-text {
    color: black;
}

ul {
    list-style-type: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0; /* Margen superior e inferior para separar la tabla de otros elementos */
}

/* Estilo para las filas de encabezado */
thead tr {
    background-color: #333; /* Color de fondo del encabezado */
    color: white; /* Color del texto del encabezado */
}

/* Estilo para las celdas de encabezado */
thead th {
    padding: 10px; /* Espaciado interno en celdas de encabezado */
    text-align: left; /* Alineación de texto a la izquierda */
}

/* Estilo para las filas de datos impares */
tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Color de fondo para filas impares */
}

/* Estilo para las celdas de datos */
tbody td {
    padding: 10px; /* Espaciado interno en celdas de datos */
    text-align: left; /* Alineación de texto a la izquierda */
    border-bottom: 1px solid #ddd; /* Borde inferior para separar filas de datos */
}

/* Estilo para las filas de datos al pasar el cursor */
tbody tr:hover {
    background-color: #e0e0e0; /* Color de fondo cuando se pasa el cursor sobre la fila */
}