
/* Estilos para el contenedor del formulario */
.login-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 70%;
    text-align: center;
    align-self: center;
}

/* Estilos para el título */
h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Estilos para los campos de entrada y etiquetas */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos para el botón de inicio de sesión */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0; /* Margen superior e inferior para separar la tabla de otros elementos */
}

/* Estilo para las filas de encabezado */
thead tr {
    background-color: #333; /* Color de fondo del encabezado */
    color: white; /* Color del texto del encabezado */
}

/* Estilo para las celdas de encabezado */
thead th {
    padding: 10px; /* Espaciado interno en celdas de encabezado */
    text-align: left; /* Alineación de texto a la izquierda */
}

/* Estilo para las filas de datos impares */
tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Color de fondo para filas impares */
}

/* Estilo para las celdas de datos */
tbody td {
    padding: 10px; /* Espaciado interno en celdas de datos */
    text-align: left; /* Alineación de texto a la izquierda */
    border-bottom: 1px solid #ddd; /* Borde inferior para separar filas de datos */
}

/* Estilo para las filas de datos al pasar el cursor */
tbody tr:hover {
    background-color: #e0e0e0; /* Color de fondo cuando se pasa el cursor sobre la fila */
}

/* Media Query para tamaños de pantalla más pequeños */
@media (max-width: 768px) {
    .login-container {
        width: 90%;
    }
}
