{% extends "layout.html" %}
{% block title %}
<title>Users</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/users/index.css') }}">
{% endblock %}

{% block content %}
<div class="content-container">
    <h1>Usuarios de instituciones</h1>


    <form method="GET" action="{{ url_for('users.index') }}" class="form-inline mb-3">
        <div class="radio-button-filter">
            <h6>Filtrar por estado de usuarios </h6>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="active" id="todos" value="todos" 
                    {% if selected_option != "activos" and selected_option != "inactivos"%} checked {% endif %}>
                <label class="form-check-label" for="todos">Todos</label>
            </div>
    
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="active" id="activos" value="activos"
                    {% if selected_option == "activos" %} checked {% endif %}>
                <label class="form-check-label" for="activos">Activos</label>
            </div>
    
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="active" id="inactivos" value="inactivos"
                    {% if selected_option == "inactivos" %} checked {% endif %}>
                <label class="form-check-label" for="inactivos">Inactivos</label>
            </div>
        </div>
        <h6>Filtrar por email de usuarios: <span>{{ email_buscado }}</span></h6>
        <input type="text" class="form-control mr-sm-2 inline-search" name="search_email" placeholder="Buscar por email">
        <button type="submit" class="btn btn-outline-primary my-2 my-sm-0">Buscar</button>
    </form>
    
    <div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Username</th>
                <th>Email</th>
                <th>Instituciones Pertenecientes</th>
                <th>Rol</th>
                <th>Activo</th>
                <th>Acciones</th>
                <th></th>
                {% if is_authenticated(session) and  session["role"] == "Super Administrador" %}
                <th>Eliminar usuario</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ u.name }}</td>
                <td>{{ u.lastname }}</td>
                <td>{{ u.username }}</td>
                <td>{{ u.email }}</td>
                <td>{% if institution_per_user %}
                    <ul>
                    {% for inst in institution_per_user[u.id]  %}
                    <li> {{ inst }}</li>
                    {% endfor %}
                    
                </ul>{% endif %}</td>
                
                <td>{% if role_per_user %}
                    {{ rol_per_user[u.id] }}
                    {% endif %}
                </td>
                <td class="{% if u.activo %}activo{% else %}inactivo{% endif %}">
                    {% if u.activo %}ON{% else %}OFF{% endif %}
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ url_for('users.user_profile', id=u.id) }}">
                        Detalle
                    </a>
                </td>
                {% if is_authenticated(session) %}
                {% if session["role"] == "Super Administrador" or session["role"] == "Dueño" %}
                <td>
                    <a class="btn btn-primary" href="{{ url_for('users.modify_user', user_id=u.id) }}">
                        Modificar/ Bloquear
                    </a>
                </td>
                {% endif %}
                {% if session["role"] == "Super Administrador" %}
                <td>
                    <a class="btn btn-dark" href="{{ url_for('users.delete_user', user_id=u.id) }}">
                        Eliminar
                    </a>
                </td>
                {% endif %}
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="pagination">
        <ul class="pagination pagination-sm">
            {% if current_page > 1 %}
            <li class="page-item">
                <a href="{{ url_for('users.index', page=current_page - 1, items_per_page=items_per_page) }}"
                    class="page-link">Anterior</a>
            </li>
            {% endif %}
            {% for page_num in range(1, total_pages + 1) %}
            <li class="page-item {% if page_num == current_page %}active{% endif %}">
                <a href="{{ url_for('users.index', page=page_num, items_per_page=items_per_page) }}" class="page-link">{{
                    page_num }}</a>
            </li>
            {% endfor %}
            {% if current_page < total_pages %} <li class="page-item">
                <a href="{{ url_for('users.index', page=current_page + 1, items_per_page=items_per_page) }}"
                    class="page-link">Siguiente</a>
                </li>
                {% endif %}
        </ul>
    </div>

</div>


{% endblock %}